@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container1 {
    background-color: white;
    background-size: cover;
    text-align: center;
    margin-bottom: 20px;
}

.main-paragraph {
    color: #7b8494;
    font-size: 16px;
}

.main-heading {
    color: #323f4b;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.main-image {
    height: 140px;
    width: 140px;
}

.bg-container {
    background-color: white;
    background-size: cover;
    text-align: center;
}